{% extends 'index.html '%}
{% block body %}

<body>
<h1 align="center">Employee Statuse</h1>
<form id="form1" name="form1" method="post" action="">
  <table width="400" border="1" cellpadding="4" cellspacing="4">
    <tr>
      <td><a href="/location" style="color:black" >Location</a></td>
    </tr>
    <tr>
      <td><a href="/calls" style="color:black">Calls</a></td>
    </tr>
    <tr>
      <td><a href="/message" style="color:black">messages</a></td>
    </tr>
  </table>
</form>
</body>
{%endblock%}
